<div class="container">
    <article class="blog-post">
        <div class="post-meta">
            <time datetime="{{date}}">{{formatDate}}</time>
            <span class="reading-time">{{readingTime}} min read</span>
            {{#if tags}}
            <div class="tags">
                {{#each tags}}
                <span class="tag">{{this}}</span>
                {{/each}}
            </div>
            {{/if}}
        </div>

        <h1>{{title}}</h1>

        <div class="post-content">
            {{content}}
        </div>
    </article>
</div> 